# Materials
https://news.mynavi.jp/article/Python_ML-6/

# Step 1 : Importing Dependencies and Loading Data set

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier as DT

/Users/k.fukada/.local/share/virtualenvs/data_science-tXjswaqR/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
data = pd.read_csv('./data/consumerPrices_tree.csv')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   都道府県    47 non-null     object
 1   食料      47 non-null     float64
 2   住居      47 non-null     float64
 3   水道光熱費   47 non-null     float64
 4   家具家事用品  47 non-null     float64
 5   衣類      47 non-null     float64
 6   保険医療    47 non-null     float64
 7   交通通信    47 non-null     float64
 8   教育      47 non-null     float64
 9   教養娯楽    47 non-null     float64
 10  諸雑費     47 non-null     float64
 11  大都市圏分類  47 non-null     int64
dtypes: float64(10), int64(1), object(1)
memory usage: 4.5+ KB

# Step 2 : Exploratory Analysis

## 2.1. Knowing the categorical variables

In [5]:
data.head()

,都道府県,食料,住居,水道光熱費,家具家事用品,衣類,保険医療,交通通信,教育,教養娯楽,諸雑費,大都市圏分類
0,北 海 道,98.7,82.6,116.3,99.3,103.8,100.2,99.5,93.2,97.1,100.9,1
1,青 森 県,97.4,95.7,109.0,96.2,97.1,101.0,100.5,93.2,96.4,97.8,0
2,岩 手 県,96.6,89.4,111.0,102.2,97.8,100.4,99.7,90.1,99.8,97.0,0
3,宮 城 県,97.2,97.1,101.3,104.0,95.6,100.9,97.5,99.5,99.3,99.2,1
4,秋 田 県,97.3,86.1,107.2,103.1,102.4,98.9,98.0,87.1,98.0,100.2,0

In [ ]:
# Materials
https://www.kaggle.com/henriqueyamahata/bank-marketing-classification-roc-f1-recall

# Step 1 : Importing Dependencies and Loading Data set

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier as DT

bank = pd.read_csv('./data/bank-additional-full.csv', delimiter=';')
#forTableau
bank.to_csv('./data/data_for_tableau.csv')
bank.info()

# Step 2 : Exploratory Analysis

## 2.1. Knowing the categorical variables

bank.head()